body {
  background-image: url(../assets/images/backgroud.jpg);
}
td img {
  width: 15px;
}
footer {
  text-align: center;
}
td a {
  color: #f2d50f;
  text-decoration: none;
}
td a:hover {
  color: white;
}
h1,
footer {
  color: #fff;
}
.loginForm {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 350px;
  height: auto;
  border: 1px solid;
  border-radius: 20px;
  background: linear-gradient(135deg, #313131 0%, #534d4d 100%);
  box-shadow: 3px 3px rgba(242, 213, 16, 0.5);
}
.loginForm button {
  width: 100%;
  margin-bottom: 5px;
}
.loginForm a {
  text-decoration: none;
  color: #f2d50f;
}
.loginForm a:hover {
  color: #000;
}
.conteiner {
  display: flex;
}
.card--conteiner {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 540px;
}
.card {
  width: 35rem;
  background: linear-gradient(135deg, #f2d50f 0%, #da0641 100%);
  border: 20px solid #a1051d;
  color: white;
  box-shadow: rgba(161, 5, 29, 0.4) 5px 5px, rgba(161, 5, 29, 0.3) 10px 10px,
    rgba(161, 5, 29, 0.2) 15px 15px, rgba(161, 5, 29, 0.1) 20px 20px,
    rgba(161, 5, 29, 0.05) 25px 25px;
  border-radius: 5px;
}
iframe {
  border-radius: 5px;
  height: 250px;
}
.page-header {
  width: 12rem;
  background: linear-gradient(135deg, #313131 0%, #534d4d 100%);
}
h3 {
  color: #f2d50f;
}
.conteiner-cmd {
  display: flex;
  height: 3auto;
}
.admin-menu {
  list-style: none;
  padding-left: 0.5em;
}
.menu-heading {
  margin-top: 0.5rem;
}
li a {
  text-decoration: none;
  color: #f2d50f;
}
li a:hover {
  text-decoration: underline;
  color: #000;
}
.menu-list {
  margin-top: 15px;
}
.admin-name {
  background: linear-gradient(135deg, #313131 0%, #534d4d 100%);
  width: 85vw;
  text-align: center;
}
.modal-body {
  background: linear-gradient(135deg, #313131 0%, #534d4d 100%);
}
.modal-body input {
  background: linear-gradient(135deg, #313131 0%, #534d4d 100%);
  color: #fff;
}
.modal-body label {
  color: #f2d50f;
}
.modal-content {
  background: linear-gradient(135deg, #f2d50f 0%, #da0641 100%);
}
.accordion-body,
.loginForm {
  background: linear-gradient(135deg, #313131 0%, #534d4d 100%);
}
.accordion-body label,
.loginForm label {
  color: #f2d50f;
}
.accordion-body input,
.loginForm input {
  background: linear-gradient(135deg, #313131 0%, #534d4d 100%);
  color: #fff;
}
.accordion-body input:focus,
.modal-body input:focus,
.loginForm input:focus {
  border-color: #f2d50f;
  box-shadow: 3px 3px rgba(242, 213, 16, 0.5);
  color: #fff;
}
.btn:hover {
  box-shadow: 3px 3px rgba(242, 213, 16, 0.5);
}
button a:hover {
  color: #000;
}
.accordion-item {
  justify-content: center;
}
.user-iframe {
  display: block;
  width: 80em;
  height: 30em;
  margin-left: auto;
  margin-right: auto;
}
select,
select:focus,
option {
  background-color: #313131;
  color: #fff;
  box-shadow: 3px 3px rgba(242, 213, 16, 0.5);
}
